# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/idea
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/n1-main/m3-dal/
src/n2-features/f0-test/
.idea/.gitignore
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/team--app.iml
.idea/vcs.xml
